# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/main/java/com/foxdarts/racoonpods/item/ModCreativeModeTabs.java
/src/main/java/com/foxdarts/racoonpods/item/ModItems.java
/src/main/resources/
